@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-color: black;
    color: white;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

.left {
    width: 25vw;
    padding: 10px;
}

.home {

    padding: 12px;
}

.right {
    width: 75vw;
}

.home ul li {

    display: flex;
    gap: 15px;
    list-style: none;
    width: 25px;
    padding-top: 18px;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;

    padding: 20px 10px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;

}

.heading img {
    width: 30px;
}

.library {
    min-height: 68vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;

}

.footer a {
    color: grey;
}

.heading h2 {
    font-weight: 200;
}