.border {
    margin: 3px;
    border: 2px solid red;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: hsl(0deg 0% 7.06%);
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.bg-black {
    background-color: black;
    color: white;

}

.p-1 {
    padding: 15px;
}

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    /* Slightly lighter color for the thumb */
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222;
    /* Dark color for the track */
}

/* For Firefox */
/* Use -moz prefix for Firefox */
* {
    scrollbar-color: #666 #222;
    /* Slightly lighter color for the thumb and dark color for the track in Firefox */
}